<% provide(:title, 'About Us') %>
<h1>About Candice</h1>
<img src="http://iv1.lisimg.com/image/1066260/600full-candice-swanepoel.jpg">
<p>
  Candice brengt de zomer in bikini
Hoewel de lente zo nu en dan heel even om de hoek gluurt, is het nog verre van zomer in ons kleine kikkerlandje. Gelukkig is het in verre oorden warm genoeg voor Candice Swanepoel om zichzelf in bikini te hijsen.

Nog beter is dat Candice dat maar al te graag met ons deelt. Voor een beetje zomer in uw hoofd.
</p>